ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME=AccentColor
CLANG_CXX_LANGUAGE_STANDARD=gnu++17
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER=YES
CODE_SIGN_ENTITLEMENTS=Clip/Clip.entitlements
CODE_SIGN_STYLE=Manual
CURRENT_PROJECT_VERSION=1
INFOPLIST_FILE=Clip/Info.plist
INFOPLIST_KEY_CFBundleDisplayName=Kineo
INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents=YES
INFOPLIST_KEY_UILaunchStoryboardName=LaunchScreen
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad=UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPhone=UIInterfaceOrientationPortrait UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
PRODUCT_BUNDLE_IDENTIFIER=com.flipbookapp.flickbook.Clip
PRODUCT_NAME=$(TARGET_NAME)
SWIFT_ACTIVE_COMPILATION_CONDITIONS=CLIP $(inherited)
SWIFT_EMIT_LOC_STRINGS=YES
SWIFT_VERSION=5.0
TARGETED_DEVICE_FAMILY=1,2

CODE_SIGN_IDENTITY[config=Release]=Apple Distribution
LD_RUNPATH_SEARCH_PATHS[config=Debug]=$(inherited) @executable_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[config=Release]=$(inherited) @executable_path/Frameworks
PROVISIONING_PROFILE_SPECIFIER[config=Debug]=match Development com.flipbookapp.flickbook.Clip
PROVISIONING_PROFILE_SPECIFIER[config=Release]=match AppStore com.flipbookapp.flickbook.Clip