APPLICATION_EXTENSION_API_ONLY=YES
CURRENT_PROJECT_VERSION=1
DEFINES_MODULE=YES
DYLIB_COMPATIBILITY_VERSION=1
DYLIB_CURRENT_VERSION=1
DYLIB_INSTALL_NAME_BASE=@rpath
INFOPLIST_FILE=Data/Info.plist
INSTALL_PATH=$(LOCAL_LIBRARY_DIR)/Frameworks
PRODUCT_BUNDLE_IDENTIFIER=com.flipbookapp.flickbook.Data
PRODUCT_NAME=$(TARGET_NAME:c99extidentifier)
SKIP_INSTALL=YES
SWIFT_VERSION=5.0
TARGETED_DEVICE_FAMILY=1,2
VERSIONING_SYSTEM=apple-generic
VERSION_INFO_PREFIX=

CODE_SIGN_IDENTITY[config=Release]=
CODE_SIGN_STYLE[config=Debug]=Manual
CODE_SIGN_STYLE[config=Release]=Automatic
LD_RUNPATH_SEARCH_PATHS[config=Debug]=$(inherited) @executable_path/Frameworks @loader_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[config=Release]=$(inherited) @executable_path/Frameworks @loader_path/Frameworks
PROVISIONING_PROFILE_SPECIFIER[config=Debug]=
PROVISIONING_PROFILE_SPECIFIER[sdk=macosx*][config=Debug]=