ASSETCATALOG_COMPILER_APPICON_NAME=iMessage App Icon
CODE_SIGN_ENTITLEMENTS=Stickers/Stickers.entitlements
CODE_SIGN_STYLE=Manual
INFOPLIST_FILE=Stickers/Info.plist
PRODUCT_BUNDLE_IDENTIFIER=com.flipbookapp.flickbook.Stickers
PRODUCT_NAME=$(TARGET_NAME)
SKIP_INSTALL=YES
SWIFT_VERSION=5.0
TARGETED_DEVICE_FAMILY=1,2

CODE_SIGN_IDENTITY[config=Release]=iPhone Distribution
LD_RUNPATH_SEARCH_PATHS[config=Debug]=$(inherited) @executable_path/Frameworks @executable_path/../../Frameworks
LD_RUNPATH_SEARCH_PATHS[config=Release]=$(inherited) @executable_path/Frameworks @executable_path/../../Frameworks
PROVISIONING_PROFILE_SPECIFIER[config=Debug]=match Development com.flipbookapp.flickbook.Stickers
PROVISIONING_PROFILE_SPECIFIER[config=Release]=match AppStore com.flipbookapp.flickbook.Stickers