ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES=YES
BUNDLE_LOADER=$(TEST_HOST)
INFOPLIST_FILE=KineoTests/Info.plist
PRODUCT_BUNDLE_IDENTIFIER=com.cocoatype.KineoTests
PRODUCT_NAME=$(TARGET_NAME)
SWIFT_VERSION=5.0
TARGETED_DEVICE_FAMILY=1,2
TEST_HOST=$(BUILT_PRODUCTS_DIR)/Kineo.app/Kineo

CODE_SIGN_STYLE[config=Debug]=Manual
CODE_SIGN_STYLE[config=Release]=Automatic
LD_RUNPATH_SEARCH_PATHS[config=Debug]=$(inherited) @executable_path/Frameworks @loader_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[config=Release]=$(inherited) @executable_path/Frameworks @loader_path/Frameworks
PROVISIONING_PROFILE_SPECIFIER[config=Debug]=
PROVISIONING_PROFILE_SPECIFIER[sdk=macosx*][config=Debug]=